# Object files
.obj/
*.o

# Binaries
push_swap
*.out

# Libraries
*.a

# Dependencies
.deps/

# OS files
.DS_Store
Thumbs.db

# Editor files
*~
*.swp
*.swo
.vscode/
.idea/

# Node modules
tester/node_modules/
